#fnb-information {
    width: 300px;
    border-radius: 8px;
}

#fnb-image {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.name {
    padding-bottom: 4px;
    font-weight: bold;
}

#fnb-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.fnb-name {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 8px 12px;
}

.grid-container {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}

.Available {
    color: #2ECC3E;
    width: 50%;
    display: inline;
}

.line-through {
    text-decoration: line-through;
}

.Not {
    color: #B3261E !important;
    width: 50%;
}

.card-content {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    padding: 12px 12px 0px 12px !important;
}

.card-bottom {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 12px 12px !important;
}

#fnb-information .dot-button {
    width: 20px;
    display: flex;
    justify-content: center;
    height: 20px;
    cursor: pointer;
}

#fnb-information .dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(62, 62, 62);
    box-shadow: 0px 5px 0px rgb(62, 62, 62), 0px 10px 0px rgb(62, 62, 62);
    cursor: pointer;
    z-index: 5;
}