#fnb-information {
    width: 300px;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
}

.Available {
    color: #2ECC3E;

}

.line-through {
    text-decoration: line-through;
}

.Not {
    color: #B3261E !important;
}

.card-content {
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
}

.card-content, .fnb-name {
    padding: 12px !important;
}