#rooms-information {
    width: 360px;
    border-radius: 8px;
}

#rooms-image {
    width: 360px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#rooms-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.rooms-name {
    font-weight: bold;
}

.grid-container {
    display: grid;
    justify-items: center;
    row-gap: 50px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.Available {
    color: #2ECC3E;
    width: 50%;
    display: inline;
}

.line-through {
    text-decoration: line-through;
}

.Not {
    color: #B3261E !important;
    width: 50%;
}

.card-content {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px !important;
}

/* .card-content, .rooms-name {
    padding: 12px;
    padding-bottom: 6px;
} */

/* .card-content, .rooms-capacity {
    padding-left: 12px ;
    padding-bottom: 6px;
} */

.card-bottom {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

#rooms-information .price-container {
    display: flex;
}

#rooms-information .discount {
    margin-left: 4px;
    margin-bottom: 16px;
}

#rooms-information .char-container {
    background-color: #6750A4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#rooms-information .charname {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


#rooms-information .title-container {
    width: auto;
    margin-left: 12px;
}

#rooms-information .title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#rooms-information .dot-button {
    width: 20px;
    display: flex;
    justify-content: center;
    height: 20px;
    cursor: pointer;
}

#rooms-information .dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(62, 62, 62);
    box-shadow: 0px 5px 0px rgb(62, 62, 62), 0px 10px 0px rgb(62, 62, 62);
    cursor: pointer;
    z-index: 5;
}

.dropdown {
    position: absolute;
    display: none;
    background: white;
    top: 15px;
    right: 15px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 5px 0px;
    width: 150px;
    z-index: 10;
}

#dropdown-content {
    padding: 0px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#dropdown-content:hover {
    background-color: #f1f1f1;
}