#title {
  margin-bottom: 4px;
}

#hotel_information .text_field {
  border-radius: 8px;
  padding: 4px;
  padding-left: 16px;
}

#hotel_information {
  margin-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.text_field {
  border-radius: 8px;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.field {
  width: 100%;
  margin-bottom: 12px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  height: 1rem !important;
  border-bottom: none !important;
  font-size: 12px !important;
  margin: 0px !important;
  padding: 0px !important;
  -webkit-box-shadow: none !important;
}

.input-field input[type=text]:focus {
  border-bottom: none;
  box-shadow: none;
}